<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Food Truck App</title>
</head>
<body>
    <header>
        <button>Login</button>
        <button>Sign Up</button>
    </header>
    <h1>Welcome to Full Stack Tacos!</h1>
    <button>
        <a href="/trucks">Place an Order</a>
    </button>
    <img id="taco" src="https://s23209.pcdn.co/wp-content/uploads/2019/04/Mexican-Street-TacosIMG_9108-1-360x360.jpg" alt="taco truck">
    <footer>
        <p>All Rights Reserved Copyright &copy; Tacos 2021</p>
    </footer>
</body>
</html>