h1 {
    color: #AA2622;
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

body {
    background-color: lightgrey;
    text-align: center;
}

header {
    background-color: lightblue;
    padding: 15px;
    color: gray;
    text-align: right;
}

.home {
    text-align: right;
}

#gohome {
    color: #AA2622;
}

#taco {
    flex: auto;
    align-items: center;
}


footer {
    display: flex;
    background-color: lightblue;
    justify-content: center;
}