<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Taco Trucks</title>
</head>
<header>
    <button>
        <a href="/">Home</a>
    </button>
    <button>
        <a href="/carts/new">Cart</a>
    </button>
</header>

<h1>MENU</h1>
<h2>Build your own...</h2>
<body>
    <form action="/trucks" method="POST">
        <input name="itemName" value="Burrito" readonly>Burrito</input>
        <label>Meat: 
            <select name="meat">
                <option value="Carne Asada">Carne Asada</option>
                <option value="Pollo">Pollo</option>
                <option value="Carnitas">Carnitas</option>
                <option value="Pastor">Pastor</option>
            </select>
        </label>
        <label>Beans:
            <select name="beans">
                <option value="Refried">Refried</option>
                <option value="Black">Black</option>
                <option value="Pinto">Pinto</option>
            </select>
        </label>
        <label>Cheese:
            <input type="checkbox" name="cheese" checked>
        </label>
        <label>Guac:
            <input type="checkbox" name="guac" checked>
        </label>
        <label>Salsa:
            <select name="salsa">
                <option value="Red">Red</option>
                <option value="Green">Green</option>
                <option value="Pico de Gallo">Pico de Gallo</option>
            </select>
        </label>
        <button id="addtocart" type="submit">Add to Cart</button>
    </form>

    <form action="/trucks" method="POST">
        <input name="itemName" value="Enchilades" readonly>Enchilades</input>
        <label>Meat: 
            <select name="meat">
                <option value="Carne Asada">Carne Asada</option>
                <option value="Pollo">Pollo</option>
                <option value="None">None</option>
            </select>
        </label>
        <label>Cheese:
            <input type="checkbox" name="cheese" checked>
        </label>
        <label>Sauce:
            <select name="sauce">
                <option value="Red">Red</option>
                <option value="Green">Green</option>
            </select>
        </label>
        <button id="addtocart" type="submit">Add to Cart</button>
    </form>

    <form action="/trucks" method="POST">
        <input name="itemName" value="Tacos" readonly>Taco</input>
        <label>Meat: 
            <select name="meat">
                <option value="Carne Asada">Carne Asada</option>
                <option value="Pollo">Pollo</option>
                <option value="None">None</option>
            </select>
        </label>
        <label>Onion:
            <input type="checkbox" name="onion" checked>
        </label>
        <label>Cilantro:
            <input type="checkbox" name="cilantro" checked>
        </label>
        <label>Salsa:
            <select name="salsa">
                <option value="Red">Red</option>
                <option value="Green">Green</option>
                <option value="Pico de Gallo">Pico de Gallo</option>
            </select>
        <button id="addtocart" type="submit">Add to Cart</button>
    </form>

    <form action="/trucks" method="POST">
        <input name="itemName" value="Torta" readonly>Torta</input>
        <label>Meat: 
            <select name="meat">
                <option value="Carne Asada">Carne Asada</option>
                <option value="Pollo">Pollo</option>
                <option value="Carnitas">Carnitas</option>
                <option value="Pastor">Pastor</option>
            </select>
        </label>
        <label>Cheese:
            <input type="checkbox" name="cheese" checked>
        </label>
        <label>Guac:
            <input type="checkbox" name="guac" checked>
        </label>
        <label>Lettuce:
            <input type="checkbox" name="lettuce" checked>
        </label>
        <label>Salsa:
            <select name="salsa">
                <option value="Red">Red</option>
                <option value="Green">Green</option>
                <option value="Pico de Gallo">Pico de Gallo</option>
            </select>
        </label>
        <button id="addtocart" type="submit">Add to Cart</button>
    </form>
    <div>
        <h4>Click checkout when order is complete</h4>
    </div>

    <a href="/carts/new">Checkout</a>


</body>

</html>